<div class="loginPage">
  <section class="header">

    <div mdcHeadline2 class="title">BookFetcher<img src="../../assets/book6.svg"></div>
  </section>
  <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()">
    <mdc-text-field [(ngModel)]="userName" formControlName="username" type="email" label="Email" required></mdc-text-field>

    <mdc-text-field [(ngModel)]="password" formControlName="password" label="Password" type="password" required></mdc-text-field>

    <div class="button-container">

      <button type="button" mdc-button outlined (click)="openForm()">
        Sign up
      </button>
      <button mdc-button type="submit" raised>
        Sign In
      </button>
    </div>
  </form>
  <br>
  <div mdcBody2 class="socialPrompt">Or using social networks (School accounts only):</div>
  <button mdcIconButton (click)="auth.googleSignin()">
    <img height="36px" src="/assets/Google.svg">
  </button>
</div>
