@use '@material/textfield/mdc-text-field';
@use '@material/form-field/mdc-form-field';
@use '@material/textfield/_index' as textfield;
@use '@material/textfield/helper-text';
@use '@material/theme';

mdc-form-field{
    padding-top: 14px;
}
.search-field {
  @include textfield.outline-shape-radius(50%);
  @include textfield.fill-color(white);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;

}
