
  <mdc-top-app-bar fixed [scrollTarget]="fixedContent">
    <mdc-top-app-bar-row>
      <mdc-top-app-bar-section align="start" title="BookFetcher">
        <button mdcTopAppBarNavIcon (click)="appDrawer.open = !appDrawer.open">
          <mdc-icon>menu</mdc-icon>
        </button>
      </mdc-top-app-bar-section>
      <mdc-top-app-bar-section align="end">
        <!-- <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
                <mdc-icon mdcTopAppBarActionItem>print</mdc-icon>
                <mdc-icon mdcTopAppBarActionItem>bookmark</mdc-icon> -->
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
  </mdc-top-app-bar>

  <div class="demo-panel">
    <mdc-drawer [open]="!isScreenSmall()" mdc-drawer-content drawer='dismissible'
    mdcTopAppBarFixedAdjust class=" drawer mdc-drawer--open test" #appDrawer="mdcDrawer">
      <mdc-drawer-header title="Hi, {{ username }}" subtitle="Welcome to BookFetcher!"></mdc-drawer-header>
      <mdc-drawer-content>
        <mdc-list>
          <a mdc-list-item *ngFor="let item of pages.destinations" [routerLink]="item.link"
            [activated]="item.activated">
            <mdc-icon mdcListItemGraphic *ngIf="item.icon">{{
              item.icon
            }}</mdc-icon>{{ item.label }}
          </a>
          <mdc-list-divider></mdc-list-divider>
          <a mdc-list-item href="#">
            <mdc-icon mdcListItemGraphic>settings</mdc-icon>Settings
          </a>
          <a mdc-list-item href="#">
            <mdc-icon mdcListItemGraphic>announcement</mdc-icon>Help & feedback
          </a>
        </mdc-list>
      </mdc-drawer-content>
    </mdc-drawer>
    <div mdcDrawerAppContent #fixedContent class="main-content mdc-top-app-bar--fixed-adjust " scrollable>
      <router-outlet></router-outlet>
    </div>
  </div>
