<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../assets/book7.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
</head>

<body>
    <mdc-drawer class="mdc-top-app-bar--fixed-adjust drawer mdc-drawer--dismissible mdc-drawer--open">
        <mdc-drawer-header title="Hi, {{username}}" subtitle="Welcome to BookFetcher!"></mdc-drawer-header>
        <mdc-drawer-content>
            <mdc-list>
                <a mdc-list-item *ngFor="let item of destinations" href="#/drawer-demo/examples"
                    [activated]="item.activated">
                    <mdc-icon mdcListItemGraphic *ngIf="item.icon">{{item.icon}}</mdc-icon>{{item.label}}
                </a>
                <mdc-list-divider></mdc-list-divider>
                <h6 mdcListGroupSubheader>Labels</h6>
                <a mdc-list-item href="#/drawer-demo/examples">
                    <mdc-icon mdcListItemGraphic>bookmark</mdc-icon>Family
                </a>
                <a mdc-list-item href="#/drawer-demo/examples">
                    <mdc-icon mdcListItemGraphic>bookmark</mdc-icon>Friends
                </a>
                <a mdc-list-item href="#/drawer-demo/examples">
                    <mdc-icon mdcListItemGraphic>bookmark</mdc-icon>Work
                </a>
                <mdc-list-divider></mdc-list-divider>
                <a mdc-list-item href="#/drawer-demo/examples">
                    <mdc-icon mdcListItemGraphic>settings</mdc-icon>Settings
                </a>
                <a mdc-list-item href="#/drawer-demo/examples">
                    <mdc-icon mdcListItemGraphic>announcement</mdc-icon>Help & feedback
                </a>
            </mdc-list>
        </mdc-drawer-content>
    </mdc-drawer>
    <mdc-top-app-bar fixed>
        <mdc-top-app-bar-row>
            <mdc-top-app-bar-section align="start" title="App">
                <button mdcTopAppBarNavIcon>
                    <mdc-icon>menu</mdc-icon>
                </button>
            </mdc-top-app-bar-section>
            <mdc-top-app-bar-section align="center" >
                <mdc-text-field label="Search..."  outlined class="search-field">
                    <mdc-icon mdcTextFieldIcon trailing svgIcon="search"
                        class="temporary-workaround-for-text-field-svg"></mdc-icon>
                </mdc-text-field>
            </mdc-top-app-bar-section>
            <mdc-top-app-bar-section align="end">
                <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
                <mdc-icon mdcTopAppBarActionItem>print</mdc-icon>
                <mdc-icon mdcTopAppBarActionItem>bookmark</mdc-icon>
            </mdc-top-app-bar-section>
        </mdc-top-app-bar-row>
    </mdc-top-app-bar>
    <div mdcDrawerAppContent class="mdc-top-app-bar--fixed-adjust mdc-drawer-app-content">
        <router-outlet></router-outlet>
    </div>

</body>

</html>