/* You can add global styles to this file, and also import other style files */
@use './styles/body';

@use '@material/theme' with (
  $background: #F4F3EE,
  $primary: #775050,
  $secondary: #B89083,
  $on-primary: #E9E3E6,
  $on-secondary: #E9E3E6,
);

@use '@material/typography/mdc-typography';
@use '@material/typography/_index' as typography;
@use './styles/button';
@use './Styles/topBar';
@use './Styles/textField';
@use './Styles/dialog';


@import "~@angular-mdc/theme/material";

html {
  height: 100%;
}
