/* You can add global styles to this file, and also import other style files */
@use './styles/body';

@use '@material/theme' with (
  $background: #F4F3EE,
  $primary: #775050,
  $secondary: #B89083,
  $on-primary: #E9E3E6,
  $on-secondary: #E9E3E6,
);

@use '@material/typography/mdc-typography';
@use '@material/typography/_index' as typography;
@use './styles/button';
@use './Styles/topBar';
@use './Styles/textField';
@use './Styles/dialog';
@use './Styles/drawer';
@use './Styles/list';
@use './Styles/imageList';
@use './Styles/menu';
@use './Styles/select';
@use './Styles/slider';
@use './Styles/card';



@import "~@angular-mdc/theme/material";

html {
  height: 100%;
}
body {
  height: 100%;
}


.wrapper {
  height: 99.7%;
  width: 100%;
  max-width: 100%;
  overflow-y: scroll;
  display: inline-block;
  text-align: center;
}

.content {
  width: 100%;
  max-width: 900px;
  text-align: center;
  display: inline-block;
}

