
@use '@material/theme';
@use '@material/select/_index' as select;
@use "@material/card";
@use "@material/rtl";
@use '@material/linear-progress/_index' as linear-progress;

@use '@material/button';
@use '@material/ripple/_index' as ripple;
@use '@material/theme/color-palette' as material-color;






.post-button {
  @include button.container-fill-color(material-color.$orange-500);
  @include button.ink-color(white);
  @include ripple.states(orange);
}


.preview {
    width: 350px;
    margin: 28px;
    //left: 37%
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .preview__primary {
    padding: 1rem;
  }

  .preview__title {
    margin: 0;
  }

  .preview__subtitle {
    @include theme.prop(color, text-secondary-on-background);

    margin: 0;
  }

  .preview__secondary {
    @include theme.prop(color, text-secondary-on-background);

    padding: 0 1rem 8px 1rem;
  }

  .preview__media {
    background-image: url(https://material-components-web.appspot.com/images/1-1.jpg);
  }

  .preview__media--16-9 {
    background-image: url(https://material-components-web.appspot.com/images/16-9.jpg);
  }
