<mdc-list-group style="text-align: left;"subheader="Your Information">
  <mdc-list twoLine>
    <mdc-list-item>
      <mdc-list-item-text secondaryText="{{DisplayName}}">Username</mdc-list-item-text>
    </mdc-list-item>
    <mdc-list-item>
      <mdc-list-item-text secondaryText="{{emailAddress}}">Email address</mdc-list-item-text>
    </mdc-list-item>
    <mdc-list-item>
      <mdc-list-item-text secondaryText="{{uid}}">UserId</mdc-list-item-text>
    </mdc-list-item>
  </mdc-list>
  <mdc-list-divider></mdc-list-divider>
  <h3 mdcListGroupSubheader>Your Favourites</h3>
  <mdc-list avatar twoLine>
    <mdc-list-item *ngFor="let item of likedBooks">
      <mdc-icon mdcListItemGraphic>folder</mdc-icon>
      <mdc-list-item-text secondaryText="from User: UID_{{item.UserId}}">{{item.BookName}}</mdc-list-item-text>
    </mdc-list-item>
  </mdc-list>
  <mdc-list-divider></mdc-list-divider>
  <h3 mdcListGroupSubheader>Your Listings</h3>
  <mdc-list avatar>
    <mdc-list-item *ngFor="let item of ownListings">
      <mdc-icon mdcListItemGraphic>folder</mdc-icon>
      {{item.BookName}}
    </mdc-list-item>
  </mdc-list>
</mdc-list-group>
